.splide__arrows {
  display: flex;
  justify-content: center;
  position: relative;
  gap: 2rem;
  margin-top: 2rem;
}

.splide__arrow {
  position: relative !important;
  background: #fff;
}

.splide__arrow.splide__arrow--prev {
  left: 0;
}

.splide__arrow svg {
  fill: none !important;
}

.splide__arrow.splide__arrow--prev svg {
  transform: none;
}

.splide__arrow.splide__arrow--next {
  right: 0;
}
